{% extends "base.html" %}
{% load tz %}

{% block title %} {{questionpaper.quiz.description}} {% endblock %}
{% block pagetitle %} 测验说明和规则 {% endblock pagetitle %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      {{questionpaper.quiz.description}}
    </div>
    <div class="card-body">
      {% if questionpaper.quiz.is_expired %}
          <div class="alert alert-error">
            此测验已过期。 您不能再尝试此测验。
          </div>
      {% else %}
          <div class="alert alert-info">
            您可以在 <b>{{ questionpaper.quiz.start_date_time|date:'Y-m-d H:i:s'}}</b> 和 <b>{{ questionpaper.quiz.end_date_time|date:'Y-m-d H:i:s' }}</b>之间的任何时间尝试此测验
          </div>
      {% endif %}
      <p> 欢迎 <strong>{{user.get_full_name|title}}</strong>, 来参加这次测试! </p>
      {{ questionpaper.quiz.instructions|safe }}
      <div class="row">
        <div class="col-md-6">
          <center>
            {% if status != "moderator" %}
              <a href="{% url 'yaksh:view_module' module.id course.id %}" class="btn btn-primary btn-lg" name="home">
                <i class="fa fa-step-backward"></i>
                返回
              </a>
            {% else %}
              <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-lg" name="home">
                <i class="fa fa-step-backward"></i>
                返回
              </a>
            {% endif %}
          </center>
        </div>
        <div class="col-md-6">
          {% if not questionpaper.quiz.is_expired %}
              <form action="{% url 'yaksh:start_quiz' attempt_num module.id questionpaper.id course.id %}" method="post" align="center">
               {% csrf_token %}
                <button class="btn btn-success btn-lg" type="submit" name="start">
                  开始 <i class="fa fa-play"></i>
                </button>
              </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
